body{
    background: linear-gradient(45deg, #FF6B6B, #FFBDAE, #FFD56B, #FF6B6B);
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 34px;
}


p {
    font-size: 30px;
}
